:root {
  --bg-colorr: #3E3579; 
  --layer-1: #5346A8;
  --layer-2: #5346A8;
  --layer-3: #5346A8;
  --layer-4: #5346A8;

  --button-colour: #5346A8;
  --button-highlight-colour: #5346A8;
}

html{
    font-family: 'Consolas', sans-serif;
    color:white;
}

body {
    margin: 0;
    background-color: var(--bg-colorr);
}

button{
    cursor: pointer; 
    background-color: #5a4cb8;  
    color: white;
    border-color: white;
}

button:hover{ 
    background-color: #6859cf;
}

#page_header {
    background-color:#5346A8;
    margin-bottom: 15px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_wrapper{
    background-color: #483d8b;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
}

#fixed_wrapper{
    margin-right: 7.5px;
}

#scrolling_wrapper{
    margin-left: 7.5px;
}

#dare{
    color: white;
}
#dare:visited{
    color: white;
}

#dare:hover{
    color: red;
}

.fixed_content {
    position: fixed;
    width: 35%;
    height: max-content;
    display: inline-block;
}


#fixed_section_about_me {
    display: inline-block;
    height: 100%;
}

#fixed_section_cv{
    display: none;
    width: 100%;
    height: 80vh;
    #cv{
        border-radius: 16px;
        width: 100%;
        height: 100%;
    }
}

#fixed_section_blog{
    display: none;
    height: 80vh;
}

.fixed_box{
    background-color: #5346A8;
    border-radius: 16px;
    margin-bottom: 10px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: calc(0.25vw + 0.25vh + 0.75vmin);
}

.skills_box{
    width: 50%; 
    float: left; 
    text-align: center;
}

.fixed_button{
    background-color: #5346A8;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 33%;
    margin-right: 15px;
    height: 5vh;
}

.fixed_button:hover{
   background-color: #6859cf;
}

.scrolling_content {
    background-color: #3E3579;
    position: relative;
    float: right;
    width: 65%;
    height: 100%;
}

#about_me {
    overflow-wrap: break-word;
    hyphens: manual;
    text-align: center;
    display: block;
}

#about_me_pic {
    max-width:100%;
    max-height:100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 10px;
}

#skills>p{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
#skills>div>p{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}   
#exp_and_awards>p{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.social_media{
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    transition: transform 250ms ease-out;
    
  
}
.social_media:hover {
    transform: translateY(-10px);
}


.highlighted_project{
    padding: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: #5346A8;
    border-radius: 16px;
    text-align: center;
    overflow:hidden;   
}

.highlighted_project_title{
    background-color: #5a4cb8;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.flex{
    display:flex;
}

.overview_block{
    background-color: #5a4cb8;
    padding: 15px;
    border-radius: 16px;
    width: 45%;
    margin-right: 15px;
    padding-bottom: 0;
    height: fit-content;
}

.description{    
    border-radius: 16px;
    background-color: #5a4cb8;
    padding: 15px;
    margin-right: 15px;
    width: 55%;
}

.features{    
    border-radius: 16px;
    width: 45%;
    text-align: left;
    background-color: #5a4cb8;
}

.projects{
    display:flex;

    .title{
    text-align: center;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 15px;
    background-color: #5a4cb8;
    text-decoration: underline;
    }

    .project_block {
        padding: 15px;
        
        margin-bottom: 15px;
        border-radius: 16px;
        background-color: #5a4cb8;
        display: flex;
        flex-direction: column;
    }

    .uni_projects{
        width: 50%;
        padding: 15px;
        padding-bottom: 0px;
        border-radius: 16px;
        margin-right: 15px;
        background-color: #5346A8;
    }

    .personal_projects{
        width: 50%;
        padding: 15px;
        padding-bottom: 0px;
        border-radius: 16px;
        background-color: #5346A8;
    }
}

.tag_container{
    display: flex;
    padding: 0px;
    
    width: 100%; 
    justify-content: center;

    .tag{
        padding: 3px 9px;
        background-color: #6555cd;
        border-radius: 16px;
        margin-right: 15px;
        margin-top: 0px;
        transition: transform 250ms ease-out;
        justify-content: center;
        align-items: center;
    }

    .tag:hover {
        transform: translateY(-10px);
    }
}

.download_button{
    background-color: #6555cd;
    border-radius: 16px;    
    margin-bottom: 15px;

    >p {
        color: white;
        margin-left: 5px;
    }
}
 
#webring{
    text-align: center;
}

#webring p a{
    color: white;
}

#webring p a:visited {
    color: white;
}

#webring p a:hover {
    color: red;
}

#footer p a{
    color: white;
}

#footer p a:visited {
    color: white;
}

#footer p a:hover {
    color: red;
}

#footer{
    color: rgb(177, 177, 177);
    margin-bottom: 15px;
    text-align: right;
}

#footer>p{
    margin: 0;
}