html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

body {
    margin: 0;
    background-color: #3E3579;
}

.page_header {
    text-align: center;
    position: fixed;
    display: block;
    width: 100%;
    background-color: #3E3579;
    z-index: 1;
    height:85px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:5px;
    padding-right:5px;
    box-sizing: border-box;

    border-bottom: 90px solid #3E3579;
}

#page_header_bg{
    background-color: darkslateblue;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    /*padding-top: 115px;*/
    height: 100vh;

    border: 1px solid red;
}


.fixed_content {
    background-color: #3E3579;
    position: fixed;
    float: left;
    width: 35%;
    height: 100vh;
}

.fixed_box{
    background-color: #5346A8;
    border-radius: 16px;
    margin-bottom: 15px;
    text-align: center;
    overflow:hidden;   
}

#about_me {
    overflow-wrap: break-word;
    hyphens: manual;
    text-align: center;
    display: block;
}

#about_me_pic {
    max-width:100%;
    max-height:100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 15px;
}

#skills>p{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#exp_and_awards>p{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.social_media{
    margin: 15px;
    height: 50px;
    width: 50px;
}

.section_wrapper{
    background-color: darkslateblue;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
}

.scrolling_content {
    background-color: #3E3579;
    position: relative;
    float: right;
    width: 65%;
    height: 100%;
}

.box{
    padding: 0px;
    overflow: hidden;
}

.highlighted_project{
    padding: 15px;
    padding-top: 0px;
    margin-bottom: 15px;
    background-color: #5346A8;
    border-radius: 16px;
    text-align: center;
    overflow:hidden;   
}

.highlighted_project_text{
    width:40%;
    padding: 15px;
    padding-top: 0px;
    margin-right: 15px;
    border-radius: 16px;
    text-align: center;
  
    background-color: #5a4cb8;
}

.flex{
    display:flex;
    margin: 5px;
}

.project_block
{
    padding: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 16px;
    background-color: #5346A8;;
}

.project_block>h3,p{
    text-align: center;
}

.project_block:hover{
background-color: rgb(233, 233, 233);
color:black;
}


.expanded_project {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #5346A8;
    overflow: hidden;
    border-radius: 16px;
    text-align: left;
}

.expanded_project_text{
 width:40%;
    padding: 15px;
    padding-top: 0px;
    margin-right: 15px;
    border-radius: 16px;
    text-align: center;
  
    background-color: #5a4cb8;
}

.expanded_project_embeds{
    width: 60%;
}
